div.vfrc-widget--launcher button.vfrc-launcher {
    background-color: #C8B274 !important;
    color: #FFFFFF !important;
    border: none !important;
    transition: background-color 0.3s ease; /* Optional: Smooth transition */
}

div.vfrc-widget--launcher button.vfrc-launcher:hover {
    background-color: #D4A656 !important; /* Lighter gold on hover */
}
